body{
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    background-color: #2f2f2f;
    overflow: hidden;
}

header{
    /*background-color: blue;*/
    height: 15vh;
    position: relative;
    padding: 10px;
}

main{
    width: 100vw;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #575757;
    padding: 20px 0;
    /*background-color: dodgerblue;*/
}


header > div{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    font-size: 40px;
    height: 50px;
    width: 80vw;
    /*padding-right: 10px;*/
    color: white;
    /*word-wrap: break-word;*/
    text-align: center;
    /*background-color: yellow;*/
    /*line-height: 15vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
}


#board {
    display: flex;
    width: 700px;
    height: 700px;
    /*margin-left: 50px;*/
    /*background-color: yellow;*/
}

#moves{
    height: 700px;
    background-color: #505050;
    width: 700px;

}

footer{
    position: absolute;
    /*background-color: #81a36c;*/
    height: 80px;
    width: 100%;
    bottom: 0;
    flex-grow: 1;
    /*margin: 10px;*/
}

#sign{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    background-color: #020d4f;
    color: #0080ff;
    z-index: 111;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
    margin:10px;
}

@media (max-width: 1400px) {

    header{
        font-size: 15px;
    }

    header > div{
        font-size: 25px;
    }

    main{
        height: 400px;
    }

    #board {
        width: 400px;
        height: 400px;
    }

    #moves{
        /*flex-grow: 1;*/
        width: 400px;
        height: 400px;
        /*background-color: #e70000;*/
    }

    #sign{
        font-size: 10px;
    }
}


@media (max-width: 800px) {

    header{
        font-size: 15px;
    }

    header > div{
        font-size: 25px;
    }

    main{
        height: 500px;
    }

    #board {
        width: 500px;
        height: 500px;
    }

    #moves{
        display: none;
        flex-grow: 1;
        /*height: 400px;*/
        /*background-color: #e70000;*/
    }

    #sign{
        font-size: 10px;
    }
}

@media (max-width: 688px) {

    header{
        height: 100px;
    }

    main{
        height: 100vw;
        width: 100vw;
    }

    #board {
        width: 100vw;
        height: 100vw;
    }

    header > div{
        font-size: 15px;
    }

}






.col{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    border-collapse: collapse;
}

/* .square{
    border-top: 1px solid black;
} */

.white:hover{
    /* background-color: rgb(1, 180, 165); */
    cursor: pointer;
}


.piece{
    height: 100%;
    width: 100%;
    background-size: contain;
}

div{
    flex-grow: 1;
}

.black-sqr{
    background-color: #81a36c;
}

.white-sqr{
    background-color: #f6f5e7;
}

.move{
    box-shadow: inset 0 0 100px rgba(255, 222, 13, 0.7);
}

.free{
    box-shadow: inset 0 0 100px rgba(88, 197, 255, 0.8) !important;
}

.attack{
    box-shadow: inset 0 0 100px rgba(23, 85, 203, 0.91) !important;
}

