body{
    border-collapse: collapse;
    margin: 0;
}

header{
    height: 15vh;
    /* background-color: blue; */
}

main > section{
    float: left;
    border: black 1px solid;
}


#board {
    display: flex;
    width: 500px;
    height: 500px;
    /*margin-left: 50px;*/
    background-color: yellow;
}

@media (max-width: 600px) {
    #board {
        width: 100vw;
        height: 100vw;
    }
}


.col{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    border-collapse: collapse;
}

/* .square{
    border-top: 1px solid black;
} */

.white:hover{
    /* background-color: rgb(1, 180, 165); */
    cursor: pointer;
}


.piece{
    height: 100%;
    width: 100%;
    background-size: contain;
}

div{
    flex-grow: 1;
}

.black-sqr{
    background-color: #81a36c;
}

.white-sqr{
    background-color: #f6f5e7;
}

.attack{
    box-shadow: inset 0 0 100px rgba(255, 1, 1, 0.4) !important;
}

.free{
    box-shadow: inset 0 0 100px rgba(23, 85, 203, 0.4) !important;
}

.move{

    box-shadow: inset 0 0 100px rgba(23, 85, 203, 0.91);
}

